{
    "name": "{{{ package.name }}}",
    "version": "{{{ package.version }}}",
    "type": "module",
    "description": "{{{ package.description }}}",
    "main": "{{{ data.main }}}",
    "types": "{{{ data.types }}}"
}